---
layout: default
author: etienne
title: About me
subtitle: casita
hide_hero: true
email2: nani@nani.nani
---

<div id="intro-strings">
  {%for intro in site.data.intros%}
    <p {% unless intro.default %} hidden {% endunless %} class="title is-1">
      {{intro.text}}
    </p>
  {% endfor %}
</div>

<div class="intro-section">
  <div class="intro-smokescreen">
    <div class="container is-max-desktop intro-body">
      <div class="container intro-tophalf">
        <div class="intro-typed">
          <span id="intro"></span> 
        </div>
      </div>
      <div class="container intro-lowerhalf">
        <div id="social-buttons">
          <ul class="social">
            <li><a href="https://github.com/{{site.github_username}}"><i class="fa-brands fa-github fa-2x"></i></a></li>
            <li><a href="https://twitter.com/{{ site.twitter_username}}"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
            <li><a href="{{site.linkedin_url}}"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
            <li><a href="{{site.youtube_url}}"><i class="fa-brands fa-youtube fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="container is-max-desktop mainpage-content">
  <section  class="section">
    <div id="AboutMe" class="title">
      About Me
    </div>
    holaaa
  </section>
  <section class="section">
    <div>
      Hola
    </div>
    <ul>
    {% for post in site.posts %}
      <li class="box">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </section>

</div>




<script type="module" src="{{ base.url | prepend: site.url }}/assets/js/mainPage.js"></script>

