---
layout: default
author: etienne
title: About me
subtitle: casita
hide_hero: true
email2: nani@nani.nani
---

<div id="intro-strings">
  {%for intro in site.data.intros%}
    <p {% unless intro.default %} hidden {% endunless %} class="title is-1">
      {{intro.text}}
    </p>
  {% endfor %}
</div>
<div class="intro title is-1">
  <span id="intro"></span>
</div>


<a href="{% link index2.html %}">index2 (test)</a>

<span>{{page.email2}}</span>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
<script type="module" src="{{ base.url | prepend: site.url }}/assets/js/mainPage.js"></script>