ul.social {
    display:flex;
    list-style:none;
}

ul.social li{
    margin:10px;
    height:70px;
    width:70px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    cursor:pointer;
    position:relative;
    border: 2px solid $grey-lighter;
    color:$grey-lighter;
    
}

ul.social li i{
    transition:all 0.3s linear;
    color: $grey-lighter;
}


ul.social li:hover i{
    color: #fff;
    font-size:37px;
}

ul.social li:hover::after{
    opacity:1;
    transform:scale(0.8);
   
}

ul.social li::after{
    content:"";
    position:absolute;
    height:inherit;
    width:inherit;
    border-radius:50%;
    opacity:0;
    z-index:-1;
    transition:all 0.3s linear;
}

// ul.social li:nth-child(1){
    
//     border:2px solid #3b5998;
//     color:#3b5998;
// }

// ul.social li:nth-child(1)::after{
    
//     background-color:#3b5998;
//      color:#3b5998;
// }


// ul.social li:nth-child(2){
    
//     border:2px solid #00aced;
//     color:#00aced;
// }

// ul.social li:nth-child(2)::after{
    
//     background-color:#00aced;
//      color:#00aced;
// }


// ul.social li:nth-child(3){
    
//     border:2px solid #418eb1;
//     color:#418eb1;
// }

// ul.social li:nth-child(3)::after{
    
//     background-color:#418eb1;
//      color:#418eb1;
// }



// ul.social li:nth-child(4){
    
//     border:2px solid #dd4b39;
//     color:#dd4b39;
// }

// ul.social li:nth-child(4)::after{
    
//     background-color:#dd4b39;
//      color:#dd4b39;
// }
// ul.social li a {
//     color:unset;
// }